# MkDocs build directory
site/

# Python virtual environment
venv/
.env/
.venv/

# Python cache
__pycache__/
*.py[cod]

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp

# Log and coverage files
*.log
*.coverage
.cache/

# PIP environment files
pip-log.txt

# mkdocs-material cache (if using plugins)
.mypy_cache/
.mkdocs/

.python-version